form {
  display: flex;
  align-items: center;
}

.Searchbar input {
  margin-left: 25vw;
  background-color: #ecebeb;
  border-radius: 20px 0 0 20px;
  padding: 10px 30px;
}

input:focus,
input:hover {
  outline: none;
  background-color: white;
}

button {
  background-color: transparent;
  border: 1px solid #ff0000;
  border-left: none;
  padding: 4px 8px 4px 4px;
  border-radius: 0 20px 20px 0;
}

button:hover {
  background-color: #464646;
  cursor: pointer;
}

@media only screen and (max-width: 281px) {
  .Searchbar {
    margin-left: 20vw;
  }
}
