/* .Searchbar {
  margin-left: 25vw;
  background-color: #f7f7f7;
  border-radius: 20px;
  padding: 0 20px;
  cursor: pointer;
} */

@media only screen and (max-width: 281px) {
  .Searchbar {
    margin-left: 20vw;
  }
}
