.PostContainer {
  display: flex;
  flex-direction: row-reverse;
}

.Post {
  margin: 20px;
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #ff4500;
  max-width: 800px;
}

.header {
  display: flex;
  align-items: center;
}

.headerAuthor {
  margin-right: 10px;
  font-weight: 500;
  font-size: 1.1rem;
  color: #eb4002;
}

.headerTime {
  color: rgb(109, 109, 109);
  margin-right: 10px;
}

.headerTopic {
  font-weight: 500;
}

.video {
  text-align: center;
  outline: none;
}

.video video {
  width: 100%;
}

.Post h1 {
  padding-top: 25px;
}

.Post h1,
.postImgContainer {
  text-align: center;
}

.postImg {
  max-width: 800px;
  text-align: center;
}

.title {
  text-align: center;
}

.title hr {
  background-color: #ff4500;
  height: 3px;
  width: 80px;
  margin-bottom: 40px;
  border: none;
}

.selfText {
  font-size: 1.2rem;
  line-height: 30px;
  padding: 0 25px;
}

.Comments h3 {
  margin: 50px 0;
}
