.PostContainer {
  display: flex;
  flex-direction: row-reverse;
}

.Post {
  margin: 20px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  border: 2px solid #ff4500;
}

.Post h1 {
  padding-top: 25px;
}

.Post h1,
.postImgContainer {
  text-align: center;
}

.postImg {
  max-width: 800px;
  text-align: center;
}
