.App main {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 400px) {
  .App main {
    align-content: center;
  }
  .App main aside {
    display: none;
  }

  .App main header {
    width: 100vw;
  }
}
