.Navbar {
  background-color: rgb(48, 48, 48);
  box-shadow: 5px 5px 5px rgb(209, 209, 209);
}

.NavbarContent {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.Navbar h2 {
  color: #ff4500;
}

.Navbar span {
  font-style: italic;
  color: white;
}
