.Navbar {
  background-color: rgba(48, 48, 48, 1);
  opacity: 1;
  background-image: radial-gradient(#f8f8f8 0.45px, transparent 0.45px),
    radial-gradient(#f8f8f8 0.45px, rgba(48, 48, 48, 1) 0.45px);
  background-size: 18px 18px;
  background-position: 0 0, 9px 9px;
}

.NavbarContent {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
}

.Navbar h2 {
  color: #ff4500;
}

.Navbar span {
  font-style: italic;
  color: white;
}
