.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.Navbar h2 {
  color: #ff4500;
}

.Navbar span {
  font-style: italic;
  color: black;
}
